
ul.all_devs_action {
    list-style: none;
}

.table > :not(caption) > * > * {
	padding: .2rem .2rem;
}
.admin_table_bg {
    background-color: #13a58a!important;

}
.react_mark {
    background-color: #30405f;
    

}
.addDevs .react_mark{
    height: 100vh;
}
.anemasion h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}
